<!-- <div class="detail">
    <h2 class="detail__title">{{titre}}</h2>
    <img
      src="https://mmi.unilim.fr/~berkersuzan1/SAE/SAE2.03-berkersuzan1/server/images/{{image}}"
      alt="Affiche du film"
      class="detail__image"
    />
    <p class="detail__desc">{{desc}}</p>
    <p class="detail__realisateur">Réalisateur : {{realisateur}}</p>
    <p class="detail__annee">Année : {{annee}}</p>
    <p class="detail__duree">Durée : {{duree}} minutes</p>
    <p class="detail__categorie">Catégorie : {{categorie}}</p>
    <p class="detail__age">Age minimum : {{age}} ans</p>
    <iframe
      class="detail__trailer"
      src="{{url}}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
  </div>
  -->